.text-h3{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.card{
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    float: none;
    width: 350px;
    padding-bottom: 20px;
}
.text-h2{
    text-align: center;
    padding-bottom: 40px;
}
.tbl{
    margin: auto;
}
.label-form{
    margin: 0;
    font-weight: bold;
}
.btn-login{
    color: red;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    background-color: rgb(144, 221, 99);
    border: none;
}

.btn-cancel{
    border: none;
    color: rgb(52, 13, 126);
    width: 100px;
    height: 40px;
    background-color: rgb(218, 84, 84);
}
#remember{
    margin-top: 20px;
    margin-bottom: 20px;
}